body{
    font-family: 'poppins', sans-serif;
    margin: 5px 200px 0;
    padding: 20px;
}
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.country{
    box-shadow: 10px 10px 10px grey;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.country-name{
    font-size: 45px;
    color: magenta;
}
#countryDetail img{
    border:1px solid blue;
    width: 200px;
}
.button{
    background-color: royalblue;
    padding: 5px;
    border-radius: 5px;
    font-size: large;  
}
.banner{
    text-align: center;
    font-size: 30px;
    color:orange;
}