#countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.country{
    border: 1px solid red;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.country-name{
    font-size: 45px;
    color: magenta;
}
#countryDetail img{
    border:1px solid blue;
    width: 200px;
}